@using blazor_tailwind_netflix.Client.Services;

<div class="relative h-[56.25vw]">
    <video
        muted
        autoplay
        loop
        class="w-full h-[56.25vw] object-cover brightness-[60%] transition duration-500"
        poster=@(Movie?.ThumbnailUrl)
        <!--src=@(Movie?.VideoUrl) -->
        >
    </video>
    <div class="absolute top-[30%] md:top-[40%] ml-4 md:ml-16">
        <p class="text-white text-1xl md:text-5xl h-full w-[50%] lg:text-6xl font-bold drop-shadow-xl">
            @(Movie?.Title)
        </p>
        <p class="
            text-white
            text-[8px]
            md:text-lg
            mt-3
            md:mt-8
            w-[90%]
            md:w-[80%]
            lg:w-[50%]
            drop-shadow-xl
        ">
            @(Movie?.Description)
        </p>
        <div class="flex flex-row items-center mt-3 md:mt-4 gap-3">
            <PlayButton MovieId=@Movie?.Id />
            <button 
                @onclick="OnOpen"
                class="
                bg-white
                text-white
                bg-opacity-30
                rounded-md
                py-1 md:py-2
                px-2 md:px-4
                w-auto
                text-ls lg:text-lg
                font-semibold
                flex flex-row
                items-center
                hover:bg-opacity-20
                transition
                ">
                <InfoOutlineIcon class="mr-1" />
                More Info
            </button>
        </div>
    </div>
</div>
