@using blazor_tailwind_netflix.Client.Services
@using blazor_tailwind_netflix.Client.Extensions

<div class="group bg-zinc-900 col-span relative h-[12vw]">
    <img
        class="
            cursor-pointer
            object-cover
            transition
            duration
            shadow-xl
            rounded-md
            group-hover:opacity-90
            sm:group-hover:opacity-0
            delay-300
            w-full
            h-[12vw]"
    
     src=@Movie?.ThumbnailUrl alt="Thumbnail" />
    <div class="
        opacity-0
        absolute
        top-0
        transition
        duration-200
        z-10
        invisible
        sm:visible
        delay-300
        w-full
        scale-0
        group-hover:scale-110
        group-hover:-translate-y-[6vw]
        group-hover:translate-x-[2vw]
        group-hover:opacity-100">
        <img 
            class="'
                cursor-pointer
                object-cover
                transition
                duration
                shadow-xl
                rounded-t-md
                w-full
                h-[12vw]
                "
            src=@Movie?.ThumbnailUrl alt="Thumbnail">
        <div class="
            z-10
            bg-zinc-800
            p-2
            lg:p-4
            absolute
            w-full
            transition
            shadow-md
            rounded-b-md">
            <div class="flex flex-row items-center gap-3">
                <div
                 @onclick="Play"
                 class="
                    cursor-pointer
                    w-6
                    h-6
                    lg:w-10
                    lg:h-10
                    bg-white
                    rounded-full
                    flex
                    justify-center
                    items-center
                    transition
                    hover:bg-neutral-300">
                    <PlayIcon Fill="gray-900" width="30" height="30" />
                </div>
                <FavoriteButton MovieId=@Movie?.Id UserId=@userId />
                <div @onclick="ShowInfo" class="cursor-pointer ml-auto group/item w-6 h-6 lg:w-10 lg:h-10 border-white border-2 rounded-full flex justify-center items-center transition hover:border-neutral-300">
                    <ChevronDownIcon className="text-white group-hover/item:text-neutral-300 w-4 lg:w-6" />
                </div>
            </div>

            <p class="text-green-400 font-semibold mt-4">
                New <span class="text-white">2023</span>
            </p>

            <div class="flex flex-row mt-4 gap-2 items-center">
                <p class="text-white text-[10px] lg:text-sm">
                    @(Movie?.Duration.FormatDurationToMinutes())
                </p>
            </div>

            <div class="flex flex-row mt-4 gap-2 items-center">
                <p class="text-white text-[10px] lg:text-sm">
                    @Movie?.Genre
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public NavigationManager NavigationManager { get;set; } = null!;
    [Inject]
    public IInfoModalManager InfoModalManager { get;set; } = null!;
    [Parameter]
    public MovieStore.Movie? Movie { get;set; }

    private Guid userId => Guid.Empty;

    private void Play()
    {
        if(Movie is null)
            return;

        NavigationManager.NavigateTo($"/watch/{Movie.Id}");
    }

    private void ShowInfo()
    {
        if(Movie is null)
            return;

        InfoModalManager.Open(Movie.Id);
    }

}
